@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
  }

  body {
    overflow-x: hidden;
    background-color: transparent !important;
    transition: background-color 0.3s ease, color 0.3s ease;
    padding-top: env(safe-area-inset-top);
  }

  /* RESET UI */
  input,
  select,
  textarea,
  button {
    background-color: transparent;
    border: none;
  }

  /* AUTOFILL HACK: Force transparency via transition delay */
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px rgba(0, 0, 0, 0) inset !important;
    -webkit-text-fill-color: white !important;
    transition: background-color 5000s ease-in-out 0s;
  }
}